%h2= @user.email
%h3= @user.role

.row
   .col-md-2
      %ul.nav
         %li= link_to "Lists", user_lists_path(@user)
   .col-md-8
      %h3= @user.role

= link_to 'Edit', edit_user_path(@user)
- if is_user_admin?
   \|
   = link_to 'Back', users_path
